
/* App styling */
.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

 /* button hover styling  */

button {
  padding: 12px 22px;
  font-size: 18px;
  background-color: #6e716e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}


/* button hover styling */
button:hover {
  background-color: #94a395;
}

/*profile image styling  */

.profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Timer styling */

.timer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}